$hover-color: rgb(245, 166, 69, .3);
$mx-1: 0 1pt;
$p-1: 1pt;
::ng-deep .mat-checkbox-inner-container {width: 30px;height: 30px;}
.filter-sorter-wrapper {
    .tab {
        display: none;
        align-items: center;

        div {
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin: $mx-1;
            padding: $p-1;
            border-radius: 50%;

            &:hover {
                background-color: $hover-color;
                border-radius: 50%;
            }
        }
    }

    .section-filter {
        display: flex;
        align-items: center;

        .filter-list-is-creating {
            width: 100px;
            height: 150px;
        }

        .filter-list {
            max-width: 200px;
            max-height: 150px;
            overflow: auto;
            margin-top: 20px;
            margin-bottom:20px;
        }
    }
 
    .section-sort {
        display: flex;
        align-items: flex-end;
        min-height: 100px;
        max-height: 300px;
        overflow: auto;
    }
}

