.header-cell-wrapper {

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        flex-wrap: nowrap;
        &.show-filter-sorter {
            cursor:pointer;
            .sorter-section {
                display: none;
                visibility: hidden;
                justify-content: center;
                flex-grow: 1;
            }
            .header-label {
                flex-grow: 1;
                height:100%;
                text-align: center;
            }
            .filter-icon {
                font-size: 8px;
            }
            .undo-filter {
                font-size: 17px;
                transform: translate(20%,0%);
            }
        }
    }
}