<div>
  <div class = "tmp-component-wrapper">
    <input [(ngModel)] = "placeholder">
    <div class="tmp-form-wrapper">
      <ngiw-multiselect 
      [ngiwValue]="entryValue" 
      [ngiwPlaceholder]="placeholder" 
      [ngiwOptions]="options" 
      (valueChanged)="onValueChanged($event)">
  </ngiw-multiselect>
    <!--[ngiwTransform]="{value: 'id', label: 'name'}" -->
    <div> 
  
      <h3>Selected value</h3>
  
      <p>{{ selectedValue || '' }}</p>
    </div>
  </div>
</div>

 
 <router-outlet></router-outlet>
</div>